<nav class="navbar navbar-default">
			  <div class="container">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">
        			<img style="max-width:285px; margin-top: -13px;" src="{{ url_for('static', filename='images/logo.png')}}">
			      </a>
			    </div>
			    <div class="collapse navbar-collapse" id="navbar-collapse">
			      <ul class="nav navbar-nav">
			        <li><a href="/">Home</a></li>
			        <li><a href="/notes_list">Note Trade</a></li>
				    <li><a href="/streams_list">Learning streams</a></li>
			        <li><a href="/questions_list">Paid Q&A</a></li>
				  </ul>
			      <ul class="nav navbar-nav navbar-right">
                      {% if session.logged_in %}
			          <li><a href="/recharge">My Account</a></li>
			          <li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ session.nickname }}<span class="caret"></span></a>
			            <ul class="dropdown-menu">
			              <li><a href="/user/{{session.nickname}}">User Info</a></li>
			              <li><a href="/my_notes">My Notes</a></li>
			              <li><a href="/my_streams">My Streams</a></li>
						  <li><a href="/my_questions">My Q&A</a></li>
			              <li role="separator" class="divider"></li>
			              <li><a href="/logout">Logout</a></li>
			            </ul>
			          </li>
                      {% else %}
                    <li><a href="/register">Register</a></li>
			        <li><a class="active" href="#" data-toggle="modal" data-target="#LoginModal">
			          	Login
			        </a></li>
                        {% endif %}
			        <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal">
			          <div class="modal-dialog" role="document">
			            <div class="modal-content">
			              <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			                <h4 class="modal-title" id="LoginModalLabel">Login</h4>
			              </div>
			              <form id="loginForm" method="POST">
			              <div class="modal-body">
			        		<div class="form-group">
			           			<label>Username/Email</label>
			            		<input type="text" name="email" class="form-control">
			        		</div>
			        		<div class="form-group">
			            		<label>Password</label>
			            		<input type="password" name="password" class="form-control">
			        		</div>
                              <p><span id="texterror"></span></p>
			              </div>
			              <div class="modal-footer">
			                <button type="button" class="btn btn-default" data-dismiss="modal">
			                	<span aria-hidden="true">&times;</span>Close</button>
			                <button type="submit" class="btn btn-primary" onclick="return loginForm()">Submit</button>

			              </div>
			              </form>
			            </div>
			          </div>
			        </div>

			      </ul>
			    </div>
			  </div>
			</nav>







